:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0;
  --tw-text-opacity: 1;
  color: rgb(61 105 109 / var(--tw-text-opacity));
}

.section {
  margin-left: 0;
  margin-right: 0;
  padding: 2rem;
}

@media (min-width: 768px) {
  .section {
    padding: 3rem;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-left: calc((100vw - 1100px) / 2);
    padding-right: calc((100vw - 1100px) / 2);
  }
}

.stacker {
  container: stacker / inline-size;
  display: flex;
  flex-flow: row wrap;
}

.stacker > * {
  flex-grow: 1;
  flex-basis: 240px;
  max-width: max-content;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

.copy-S ol,
.copy-S ul,
.copy-S p {
  margin-bottom: 0.5rem;
}

.logo {
  will-change: filter;
  transition: filter 0.3s;
  width: 110px;
}

.btn {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0.75rem 1rem;
  text-align: center;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn > * {
  position: relative;
  z-index: 10;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(48 185 177 / var(--tw-bg-opacity));
}

.shape-gradient {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #ffd6db var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 214 219 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #fffacc var(--tw-gradient-to-position);
  background-attachment: fixed;
}

.shape-S,
.shape-M,
.shape-L {
  position: relative;
}

.shape-S > *,
.shape-M > *,
.shape-L > * {
  position: relative;
  z-index: 10;
}

.shape-S:before,
.shape-M:before,
.shape-L:before {
  content: "";
  z-index: 0;
  position: absolute;
  display: block;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #ffd6db var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 214 219 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #fffacc var(--tw-gradient-to-position);
  background-attachment: fixed;
}

.shape-S:before {
  right: -0.5rem;
  top: -0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
}

@media (min-width: 768px) {
  .shape-S:before {
    right: -0.75rem;
    top: -0.75rem;
    bottom: 0.75rem;
    left: 0.75rem;
  }
}

.shape-M:before {
  right: -1rem;
  top: -1rem;
  bottom: 1rem;
  left: 1rem;
}

@media (min-width: 768px) {
  .shape-M:before {
    right: -1.5rem;
    top: -1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

.shape-L:before {
  right: -2rem;
  top: -2rem;
  bottom: 2rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .shape-L:before {
    right: -3rem;
    top: -3rem;
    bottom: 3rem;
    left: 3rem;
  }
}

.cards {
  container: cards / inline-size;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card {
  display: grid;
  grid-column: span 12;
  grid-template-rows: 1fr auto;
}

@media (width > 767px) {
  .card {
    grid-column: span 4;
  }
}

.btn:focus,
.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(61 105 109 / var(--tw-bg-opacity));
}

.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

details + details {
  border-top-width: 2px;
}

details ol,
details ul,
details p {
  margin-bottom: 1rem;
}

details > *:last-child {
  padding-bottom: 1rem;
}

summary {
  padding-bottom: 1rem;
  padding-top: 0.75rem;
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  .btn {
    background-color: #f9f9f9;
  }
}

*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

:before,
:after {
  --tw-content: "";
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: Host Grotesk, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-16 {
  margin-bottom: -4rem;
}

.-mb-32 {
  margin-bottom: -8rem;
}

.-mb-\[40\%\] {
  margin-bottom: -40%;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-12 {
  margin-top: 3rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-8 {
  width: 2rem;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[280px\] {
  width: 280px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.min-w-0 {
  min-width: 0px;
}

.max-w-28 {
  max-width: 7rem;
}

.max-w-36 {
  max-width: 9rem;
}

.max-w-\[240px\] {
  max-width: 240px;
}

.max-w-\[290px\] {
  max-width: 290px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[320px\] {
  max-width: 320px;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink {
  flex-shrink: 1;
}

.grow {
  flex-grow: 1;
}

.basis-\[300px\] {
  flex-basis: 300px;
}

.basis-\[400px\] {
  flex-basis: 400px;
}

.basis-\[800px\] {
  flex-basis: 800px;
}

.basis-\[900px\] {
  flex-basis: 900px;
}

.list-disc {
  list-style-type: disc;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.self-center {
  align-self: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-32 {
  padding-top: 8rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.font-sans {
  font-family: Host Grotesk, sans-serif;
}

.font-serif {
  font-family: Libre Baskerville, serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-aqua {
  --tw-text-opacity: 1;
  color: rgb(48 185 177 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-deepgreen {
  --tw-text-opacity: 1;
  color: rgb(26 52 66 / var(--tw-text-opacity));
}

.text-forest {
  --tw-text-opacity: 1;
  color: rgb(61 105 109 / var(--tw-text-opacity));
}

.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

@media not all and (min-width: 768px) {
  .max-md\:mb-8 {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .md\:-mb-24 {
    margin-bottom: -6rem;
  }

  .md\:ml-0 {
    margin-left: 0;
  }

  .md\:mr-0 {
    margin-right: 0;
  }

  .md\:flex {
    display: flex;
  }

  .md\:w-5\/12 {
    width: 41.666667%;
  }

  .md\:w-7\/12 {
    width: 58.333333%;
  }

  .md\:w-max {
    width: max-content;
  }

  .md\:max-w-none {
    max-width: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-12 {
    gap: 3rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .md\:text-left {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }

  .lg\:basis-\[600px\] {
    flex-basis: 600px;
  }

  .lg\:place-items-start {
    place-items: start;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.aFSlides {
  position: relative;
}

.aFSlides > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s ease 3s;
}

.aFSlides > .current {
  position: relative;
  display: block;
  opacity: 1;
  transition: opacity 3s ease;
}
